---
layout: default
---

<banner class="banner">
  <div class="banner-text">
    <h1>Expert dog walking services in Lancaster</h1>
    <p>Dogs Unleashed is a Lancaster based dog walking business run by Elise Atkin</p>
    <a class="button" href="/contact">Get in touch</a>
  </div>
  <div class="banner-image"></div>
</banner>
<div class="banner-intro">
  <img class="banner-avatar" src="/assets/elise-1.png">
  <p>Hi, I’m Elise and I founded Dogs Unleashed in 2016 to fulfil my dream of providing the dogs of Lancaster with enriching walks in the stunning local countryside.</p>
</div>

<div class="wrapper">
  <div class="flex-grid">
    <div class="col">
      <img src="/assets/doggy.svg" class="icon">
      <h3>Dog Walks</h3>
      <p>All walks are designed to encourage natural behaviors like sniffing, exploring, and playing, promoting mental and emotional well-being while keeping your dog mentally and physically enriched.</p>
      <p>Each group is thoughtfully curated to foster confidence, positive experiences, and problem-solving skills, ensuring a harmonious and enjoyable walk for every dog.</p>        
    </div>
    <div class="col">
      <img src="/assets/location.svg" class="icon">
      <h3>Walk Locations</h3>
      <p>Whether it’s a quiet sniff through the woods, an exciting adventure by the river, or a mix of both, walk locations are chosen based on the group’s needs and abilities.</p>
      <p>I carefully select locations to keep travel time in my comfortable, crated van to a minimum, ensuring your dog spends more time enjoying the walk and less time on the road.</p>
    </div>
    <div class="col">
      <img src="/assets/time.svg" class="icon">
      <h3>Walk Times</h3>
      <p>I offer morning and afternoon walks between 11 AM and 4 PM to suit both you and your dog’s needs.</p>
      <p>Each walk lasts 90 minutes, providing plenty of time for a stimulating and enriching experience.</p>
    </div>
  </div>

  <div class="flex-grid">
    <div class="col">
      <h3>Join our walks</h3>
      <p>To join our regular walking group, dogs must meet the following criteria:</p>
      <ul>
        <li><strong>Location:</strong> Live in Lancaster</li>
        <li><strong>Social Compatibility:</strong> Be friendly and comfortable around other dogs</li>
        <li><strong>Age:</strong> <br>
          Over 12 months for small/medium breeds <br>
          Over 18 months for large/XL breeds</li>
        <li><strong>Fitness:</strong> Fit and healthy enough for a 90-minute walk</li>
        <li><strong>Health & Safety:</strong><br>
          Neutered <br>
          Vaccinated or Titre tested <br>
          Treated regularly for worms, fleas, and ticks
        </li>
      </ul>
      <p><strong>Please note:</strong> I do not offer one-off walks. A commitment to regular walks, with a minimum of two walks per week, is required to join our walks.</p>
      <p>If your dog is a good fit to join us, <a href="contact/">please each out through the contact page</a>  to arrange a meet and greet.</p>
    </div>
  </div>
</div>
<div class="testimonials">
  <h2>Happy Customers</h2>
  <div class="main-carousel" data-flickity='{ "autoPlay": true, "wrapAround": true }'>
    <div class="carousel-cell"><img src="/assets/carousel/carousel01.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel02.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel03.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel04.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel05.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel06.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel07.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel08.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel09.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel10.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel11.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel12.jpg"></div>
    <div class="carousel-cell"><img src="/assets/carousel/carousel13.jpg"></div>
  </div>
</div>
<div class="owners">
  <div class="wrapper">
  <h2>What Owner's Say</h2>
    <ul>
      <li>
        Elise has my dog’s wellbeing at the heart of all she does. I fully trust her skills commitment and expertise in all things dog related and in the great way she understands the dogs in her care. I trust her to look after my dog completely and know he is in the best hands. Our dog just can’t wait to go out for his walks with Elise and that makes me happy too. 5 ***** from me!
      </li>
      <li>
        Elise has been my dog walker for 10 years, since we first came to Lancaster.  She is always reliable, and clearly adores dogs, including mine.   My springer spaniel adores her in return and is always delighted when her van pulls up.  He gets a good long walk of at least an hour and a half, in a small group, which really suits him.  Elise is knowledgeable and skilled in dog behaviour and training, and my dog has learned good habits on his walks. I highly recommend Elise if you are looking for a dog walker. 5/5*
      </li>
      <li>
        Our dog has been walking with Elise every week since being a puppy.
        We trust Elise implicitly and are always sure that our dog is in very good hands having a wonderful time. Elise is very knowledgeable in “all things dog,” often offering expert advice on a number of topics. Our dog loves Elise and is always very excited for his walks returning tired from all the varied walks and experiences. When placing dogs within a group, Elise always considers the individual animal’s personality and character so as to group the dogs in the most appropriate group. I would not hesitate to recommend Elise to fellow dog owners. You will not find a more dedicated committed dog lover.
      </li>
      <li>
        My dog has been going on walks with Elise for years! She loves her. Elise takes extra special care of my girl as she only has 3 legs! Plus my dog can be a pain at times! I like hearing from Elise how the walk has gone and what my dog got up to. I recommend Elise as she is reliable, caring and loves the dogs.
      </li>
      <li>
        Elise is a wonderful dog walker and sitter. My shitzu has been going to her for 4 years now. She is very kind and really understands dogs and what they need which has helped my anxious rescue dog immensely. My dog adores her and gets so excited waiting for her to collect her. When she is with her she always comes back super happy and relaxed. I wouldn't hesitate to recommend her.
      </li>
      <li>
        Our dog loves Elise and Elise loves her, and we are always confident that she will have a lovely time on her walks. For us, our dog  mixing with other dogs is as important as having a walk, so we are very glad that Elise knows the dogs in her group very well, and they all get along together. The walks are always lovely, and we look forward to a brief account of where they went and what they did!
      </li>
      <li>
        We have used Elise’s dog walking service for years now.  She is wonderful with the dogs and is utterly reliable.  Our dog very much looks forward to the outings and comes home tired, happy and contented every time.  Thank you so much Elise!
      </li>
      <li>
        Elise is lovely. She's been walking my two dogs for several years. They love her and get very excited when she arrives to take them off on their adventures.
        One of my dogs is very anxious around other dogs and Elise really took her time to introduce her to the other dogs she walks initially and now if she encounters other dogs on the walks, she really looks after her and is working on tried and tested training tips to help her to feel safe and less anxious.
        Elise is friendly, reliable and trustworthy and takes care of my dogs as if they were her own.
      </li>
      <li>
        Our 5 year old double doodle, has been going on weekly walks with Elise for the last four years and she’s loved every minute of it. Elise is warm, thoughtful and utterly dog centred in her approach. I always value - and follow- her advice concerning my dogs training, behaviour and general well being. She is thoroughly professional, organised and reliable. Elise is a wonderful dog walker and I could not recommend her more warmly. 
      </li>
    </ul>
  </div>
</div>
<div class="contact-footer">
  <div class="wrapper">
    <div class="banner-text">
      <h2>Unleash your dog's full potential</h2>
      <a class="button" href="/contact">Get in touch to arrange a meet and greet</a>
    </div>
  </div>
</div>
